<input class="visually-hidden" autofocus [(ngModel)]="barcode">
<!--Режим ожидания -->
<span *ngIf="mode == 0;" >
   <span class = "slider">
      <span *ngIf="device == '234';" ><img class="slide" src="/assets/img/42.Episode.png"></span>
      <img class="slide" src="/assets/img/Банер_ПЧ_мал_Реклама_поставщика_Кава_4_01_10_01.png">
      <img class="slide" src="/assets/img/39.Episode.png">
      <img class="slide" src="/assets/img/40.Episode.png">
      <img class="slide" src="/assets/img/41.Episode.png">
      <img class="slide" src="/assets/img/42.Episode.png">
      <img class="slide" src="/assets/img/43.Episode.png">
      <img class="slide" src="/assets/img/57.Episode.png">  
   </span>
</span>
<!--Режим конфигурации -->
<span *ngIf="mode == 1111;" >
   <span class ="name" >
      <mat-grid-list>
         <br><br><br><br><br><br><br>
         <span class ="config">Вітаю у режимі конфігурації</span> <br><br><br>
         <span class ="config">Проскануйте номер магазина</span>
      </mat-grid-list>   
   </span>
</span>
<span *ngIf="mode == 1112;" >
   <span class ="name" >
      <mat-grid-list>
         <br><br><br><br><br><br><br>
         <span class ="config">Вітаю у режимі конфігурації</span> <br><br><br>
         <span class ="config">Проскануйте номер ПЧ</span>
      </mat-grid-list>   
   </span>
</span>
<span *ngIf="mode == 1113;" >
   <span class ="name" >
      <mat-grid-list>
         <br><br><br><br><br><br><br>
         <span class ="config">Вітаю у режимі конфігурації</span> <br><br><br>
         <span class ="config">Проскануйте IP</span>
      </mat-grid-list>   
   </span>
</span>
<span *ngIf="mode == 1114;" >
   <span class ="name" >
      <mat-grid-list>
         <br><br><br><br><br><br><br>
         <span class ="config">Вітаю у режимі конфігурації</span> <br><br><br>
         <span class ="config">Проскануйте номер корпусу (тільки цифри, без букви «Р»)</span>
      </mat-grid-list>   
   </span>
</span>
<span *ngIf="mode == 1115;" >
   <mat-grid-list >
         <br><br><br><br><br><br><br>
         <span class ="config">Номер магазину: {{this.stock}}  </span> <br><br><br>
         <span class ="config">Номер ПЧ: {{this.device}}  </span> <br><br><br>
         <span class ="config">Статичний IP: {{this.ip}} </span> <br><br><br>
         <span class ="config">Номер корпусу: {{this.numberBody}}  </span> 
         <mat-progress-bar class = "mat-progress-bar" *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
   </mat-grid-list>   
</span>

<!--Режим сканирования товара -->
<span *ngIf="mode == 1;" >
   <mat-grid-list>
      <span *ngIf="errorMessage == false;" >
         <img class='image' id="image"/>                  
         <span class = "price">{{productResponseModel.Price}} грн </span> <br>
         {{productResponseModel.PriceOld}} <br>
         <span class ="hr_top">
            <hr>
            <br><br><br>
            <span class ="name">   {{productResponseModel.Name}} </span> 
         </span>
         <br>
         <span class ="hr_bottom">
            <hr>
            <span class ="additional">Ш/К: -  {{productResponseModel.Barcode}}</span>
            <span class ="additional">Кількість - {{productResponseModel.Qty}}</span>
            <span class ="additional">Код - {{productResponseModel.Id}}</span>
         </span>
         <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
      </span>
      <span *ngIf="errorMessage == true;" >
         <img src="/assets/img/resources/productError_dark.jpg">  
         <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
      </span>
   </mat-grid-list>
</span>

<!--Режим регистрации персонала -->
<span *ngIf="mode == 2;" >
   <span *ngIf="errorMessage == false;" >
      <span >{{employeeRegisterResponseModel.Name}} </span> <br>
      <span *ngIf="employeeRegisterResponseModel.State == 0;"> Выполнила выход из системы
      <span *ngIf="employeeRegisterResponseModel.State == 1;"> Выполнила вход в систему
      <span >
         Ш/К: - {{employeeRegisterResponseModel.Barcode}} 
         Код - {{employeeRegisterResponseModel.Id}}
      </span>
      <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
   </span>
   <span *ngIf="errorMessage == true;" >
      Вы кто? <br>
      Уходите)
      <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
   </span>
</span>

<!--Режим сканирования оборудования -->
<span *ngIf="mode == 3;" >
   <span *ngIf="errorMessage == false;" >
      <mat-grid-list cols="2" rowHeight="1:1">
         <mat-grid-tile>
            <img class='image' id="assetImage"/><br>
         </mat-grid-tile>
         <mat-grid-tile>      
            Id - {{assetResponseModel.Code}} <br>
            штрих-код товарe - {{assetResponseModel.Barcode}} <br>
            Description - {{assetResponseModel.Description}} <br>
            FactoryNum - {{assetResponseModel.FactoryNum}} <br>
            InvNum - {{assetResponseModel.InvNum}} <br>
            Type - {{assetResponseModel.Type}} <br>
         </mat-grid-tile>
      </mat-grid-list>

      <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
   </span>
   <span *ngIf="errorMessage == true;" >
      <hr>
      <span class = "errorMessage">Товар не знайдено</span> <br>
      <span class ="additional">Зверніться до продавця-консультанта</span>
      <hr>
      <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
   </span>
</span>
<label>{{barcode}}</label> <br>