mat-grid-list{
  width: 1024px;
  height: 600px;
  background-image: url(../../assets/img/resources/systemInfo_dark.jpg);
}
mat-progress-bar{
  position:absolute; 
  top: 590px; 
}
hr{
  width: 500px;
  size:10;
  }
.slider{
  width: 1024px;
  height: 600px;
}
.slide{
  display: none;
}
.image{
  position: relative;
  width: 510px;
  height: 520px;
  float: right;
  margin-right: 10px;
  margin-top: 45px;
  border-radius: 10px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.config{
  margin-left: 35%;
  color : #f3f3f0;
  font-size : 25px;
  font-family: sans-serif;
}
.name{
  position: absolute;
  color : #f3f3f0;
  float: left;
  font-size : 25px;
  margin-left: 20px;
  font-family: sans-serif;
}
.priceOld {
 
  left: 400px;
  font-size: 95px;
  color: #FFFFFF;
  font-family: sans-serif;
}
.pennyOld{

  position:absolute;
  color: #FFFFFF;
  font-size : 40px;
  font-family: sans-serif;
}
.priceOld:before {
  border-bottom: 3px solid #FFFFFF;
  position: absolute;
  content: "";
  width: 19%;
  height: 8%;
  transform: rotate(-15deg);
}
.price{
  color : #FFDD00;
  font-size : 160px;
  font-family: sans-serif;
}
.pennyStock{
  position: relative;
  top: 200px;
  margin-left: 5px;
  text-align: center;
  position:absolute;
  color : #FFDD00;
  font-size : 65px;
  font-family: sans-serif;
}
.penny{
  position: relative;
  top: 150px;
  margin-left: 5px;
  text-align: center;
  position:absolute;
  color : #FFDD00;
  font-size : 65px;
  font-family: sans-serif;
}
.posRightStock{
  float: right;
  text-align: right;
  margin-top: 40px;
  margin-right: 15%;
}
.posRight{
  float: right;
  margin-top: 140px;
  margin-right: 15%;
}
.hr_top{
  position: absolute;
  bottom: 120px;
}
.hr_bottom{
  position: absolute;
  bottom: 35px;
}
.additional{
  margin-left: 45px;
  color : #e4e3de;
  font-size : 16px;
  font-weight:200;
  font-family: sans-serif;

}
.errorMessage{
  text-align: center;
  color : #ad2b0a;
  font-size : 25px;
  font-family: sans-serif;
}