<input class = "visually-hidden" autofocus [(ngModel)]="barcode">
<span *ngIf="mode == false;" >
   <span class="slider" id="main-slider"></span>
      <span class = "slider">
         <img src="assets/img/Банер_ПЧ_мал_Реклама_поставщика_Кава_4_01_10_01.png" id="slide-1" class="slide" >       
      </span>
</span>
<span *ngIf="mode == true;" >
   <span *ngIf="errorMessage == false;" >
      <mat-grid-list cols="2" rowHeight="1:1">
         <mat-grid-tile>
            <img class='image' id="image"/><br>
         </mat-grid-tile>
         <mat-grid-tile>      
            Id - {{productResponseModel.Id}} <br>
            штрих-код товарe - {{productResponseModel.Barcode}} <br>
            назва - {{productResponseModel.Name}} <br>
            цена - {{productResponseModel.Price}} <br>
            старая цена - {{productResponseModel.PriceOld}} <br>
            количество - {{productAmountProduct}} <br>
         </mat-grid-tile>
      </mat-grid-list>

      <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
   </span>
   <span *ngIf="errorMessage == true;" >
      Товар не знайдено <br>
      Зверніться до продавця консультанта

      <mat-progress-bar *ngIf= "this.progressbarValue > 0" mode="determinate" [value]='progressbarValue'></mat-progress-bar>
   </span>
</span>
<label>{{barcode}}</label> <br>