.image{
    float:right;

}
mat-grid-tile {
  background: rgb(58, 59, 59);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.name{
  color : #f3f3f0;
  font-size : 25px;
  font-family: "Times New Roman', Times, serif";
}
.price{
  color : #FFDD00;
  font-size : 55px;
  font-family: "Times New Roman', Times, serif";
}
.additional{
  color : #e4e3de;
  font-size : 16px;
  font-family: "Times New Roman', Times, serif";
  font-weight: "100";
}
.errorMessage{
  text-align: center;
  color : #ad2b0a;
  font-size : 25px;
  font-family: "Times New Roman', Times, serif";
}